.main {
    min-width: 100vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    padding: 0px 45px 0px 45px;
    gap: 20px;
}

.main > a{
    width: min-content;
}

.product {
    width: 100%;
    height: 500px;
    display: flex;
}

.productImage {
    min-width: 500px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.productImage > .imageHolder {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    background-color: var(--color-gray);
}

.productImage > .imageHolder > img {
    width: 120px;
    height: 120px;
}

.productImage > .vitaminColorHolder {
    width: 100%;
    display: flex;
    gap: 10px;
}

.color,
.vitamin {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-radius: 25px;
    padding: 5px 10px;
    font-weight: 500;
    outline: 1px solid var(--color-darkGray);
}

.productInfo {
    width: 70%;
    height: 400px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 40px;
}

/* heading */
.itemName {
    font-size: 40px;
}

.itemInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* family */
.itemInfo > .itemFamily {
    font-size: 16px;
    font-weight: 500;
    color: grey;
}

/* instock icon and text */
.itemInfo > .inStock {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 7px;
    color: var(--color-blue);
}

.inStock > img {
    width: 16px;
    height: 16px;
}

/* price */
.itemInfo > .itemPrice {
    font-size: 18px;
    font-weight: 600;
}

/* description */
.itemDescription {
    line-height: 1.4;
    letter-spacing: 0.02rem;
    font-size: var(--font-size);
}

/* contains buy now and checkout button */
.buttonHolder {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttonHolder > button {
    padding: 15px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: var(--font-weight);
}

.buttonHolder > a > button {
    width: 100%;
    padding: 15px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: var(--font-weight);
}

/* buy now button */
.buttonHolder > a > button:nth-child(1) {
    color: var(--color-white);
    background-color: var(--color-blue);
}

.buttonHolder > a > button:nth-child(1):hover {
    background-color: var(--color-blueHover);
}

/* checkout button */
.buttonHolder > button:nth-child(2) {
    background-color: var(--color-white);
    outline: 1px solid var(--color-darkGray);
}

.buttonHolder > button:nth-child(2):hover {
    background-color: var(--color-darkGray);
    outline: none;
}
