.main {
    min-width: 80%;
    height: 10vh;
    display: flex;
    margin: 0px 45px 0px 45px;
}

/* contains logo , home and store button */
.leftside {
    width: clamp(50%, 50%, 50%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
}

/* hamburger button */
/* hidden by default and only visible when required device size is met */
/* with the help of media queries */
.leftside > button {
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
    display: none;
    cursor: pointer;
}

.leftside > button > img {
    width: 100%;
    height: 100%;
}

/* company name */
.leftside > a {
    color: var(--color-black);
    text-decoration: none;
}

/* hold home and store button */
.leftside > div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.leftside > div > button {
    border: none;
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
}

.leftside > div > button:hover {
    border-bottom: 2px solid black;
    margin-top: 2px;
}

/* home and store button */
.leftside > div > button > a {
    color: var(--color-black);
    font-family: var(--font-family);
    text-decoration: none;
    font-size: var(--font-size);
    font-weight: var(--font-weight);
}

.leftside > div > button > p {
    font-family: var(--font-family);
}

/* hold search button and div containing fav and cart button */
.rightside {
    position: relative;
    width: clamp(50%, 50%, 50%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}

/* hold cart and icon button */
.rightside > div {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

/* search button */
.rightside > div > input {
    min-width: 100%;
    font-size: var(--font-size);
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    font-weight: var(--font-weight);
    border-radius: 25px;
    padding: 15px 15px 15px 40px;
    background-color: var(--color-gray);
    background-size: 30px;
}

.searchIcon {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 5px;
    z-index: 1;
}

.rightside > div > input:focus {
    outline: none;
}

/* this is for the favourite button */
.rightside > div > button {
    height: 30px;
    width: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    & > img {
        height: 100%;
        width: 100%;
    }
}

/* this is for the cart button */
.rightside > div > a > button {
    height: 30px;
    width: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    & > img {
        height: 100%;
        width: 100%;
    }
}

@media (max-width: 1024px) {
    /* logo */
    .leftside > a {
        display: none;
    }

    /* hamburger menu */
    .leftside > button {
        display: block;
    }
}

@media (max-width: 768px) {
    .leftside > div {
        display: none;
    }

    .leftside {
        width: min-content;
    }

    .leftside > button {
        width: 25px;
        height: 25px;
    }

    .rightside {
        width: 100%;
        justify-content: flex-end;
        align-items: center;
    }

    .rightside > div:nth-child(1) {
        position: absolute;
        top: 50%;
        left: 45%;
        margin-right: 25px;
        transform: translate(-50%, -50%);
    }

    .rightside > div:nth-child(1) > input {
        width: 10%;
    }

    .rightside > div:nth-child(1) > img {
        width: 25px;
        height: 25px;
        left: 10px;
    }

    .rightside > div > a > button {
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 540px) {
}
