.main {
    min-width: 80%;
    height: 10vh;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
}

/* contains logo , home and store button */
.leftside {
    width: clamp(50%, 50%, 50%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    margin-left: 30px;
}

/* company name */
.leftside > a {
    color: var(--color-black);
    text-decoration: none;
}

/* hold home and store button */
.leftside > div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.leftside > div > button {
    border: none;
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
}

.leftside > div > button:hover {
    border-bottom: 2px solid black;
    margin-top: 2px;
}

/* home and store button */
.leftside > div > button > a {
    color: var(--color-black);
    font-family: var(--font-family);
    text-decoration: none;
    font-size: var(--font-size);
    font-weight: bolder;
}

.leftside > div > button > p {
    font-family: var(--font-family);
}

/* hold search button and div containing fav and cart button */
.rightside {
    width: clamp(50%, 50%, 50%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    margin-right: 30px;
}

/* hold cart and icon button */
.rightside > div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

/* search button */
.rightside > input {
    position: relative;
    font-size: var(--font-size);
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    font-weight: bolder;
    border-radius: 25px;
    padding: 15px 15px 15px 30px;
    background: url("../assets/images/search.svg") no-repeat left;
    background-color: var(--color-gray);
    background-size: 25px;
}

.rightside > input:focus {
    outline: none;
}

/* this is for the favourite button */
.rightside > div > button {
    height: 30px;
    width: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    & > img {
        height: 100%;
        width: 100%;
    }
}

/* this is for the cart button */
.rightside > div > a > button {
    height: 30px;
    width: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    & > img {
        height: 100%;
        width: 100%;
    }
}
