.main {
    min-width: 300px;
    padding: 0px 45px 0px 45px;
}

.headingHolder {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.headingHolder > p {
    font-size: 18px;
    font-weight: var(--font-weight);
}

.headingHolder > img {
    width: 40px;
    height: 40px;
}

.colorContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.colorItemHolder {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.colorItem {
    width: 70px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.colorItem:hover {
    background-color: var(--color-gray);
}

.colorItem > button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorItem > button > img {
    width: 20px;
    height: 20px;
}

.colorItem > p {
    font-size: 14px;
}

.priceContainer{
    margin-top: 10px;
}

.priceItemHolder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.priceItemHolder > div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.priceItemHolder > div:hover{
    background-color: var(--color-gray);
    border-radius: var(--border-radius);
}

.priceItemHolder > div > label{
    cursor: pointer;
}

.priceItemHolder > div > input{
    width: 25px;
    height: 25px;
    accent-color: black;
    cursor: pointer;
    border-color: var(--color-gray);
}