* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --font-family: "helvetica", Helvetica, Arial, sans-serif;
    --font-size: 16px;
    --font-weight: 600;
    --color-white: #ffffff;
    --color-gray: #f5f5f5;
    --color-darkGray: #e5e5e5;
    --color-black: #000000;
    --color-blue: #3895ff;
    --color-blueHover: #2666dc;
    --border-radius: 10px;
    --color-red: #ff8a80;
    --color-yellow: #fff596;
    --color-orange: #ffbc8a;
    --color-green: #bffcc6;
    --color-purple: #e0bbff;
    --color-pink: #ffcce5;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    background-color: #ffffff;
}
